body {
    margin: 0;
    background: rgb(40, 37, 37);
    overflow: hidden;
 }
 
 #wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
 }
 
 #game {
    height: 100vh;
    max-height: 700px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
 }
 
 #stats {
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 1rem;
    text-align: center;
    width: calc(100% - 2rem);
    font-size: 3rem;
 }
 
 .card {
    width: 100px;
    height: 140px;
    margin: 1rem;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
 }
 
 .card.active {
    transform: rotateY(180deg);
 }
 
 .card div {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
 }
 
 .card .face {
    background: #353245;
    transform: rotateY( 180deg );
    color: rgb(238, 250, 255);
    font-size: 6rem;
 }
 
 .card .back {
    border: 3px solid #ffffff;
    background: url(imagenesPro/back.png) center / contain no-repeat;
 }